.span3, #administrativo_licencas
{
	width: 120px;
}
.administrativo_licencas_p
{
	margin-top: 5px;
}
#containerForm
{
/* 	border: 1px solid pink;	 */
	float: left;
	margin-bottom: 20px; 
}
.divLabelERP
{
	float: left;
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
    width: 20%;
}
.divInputERP
{
	width: 70%;
	float: left;
}
#divContainerSelectERP
{
/*	border: 1px solid red;	 */
	float: left;
	width:400px;	
	min-width: 400px;
}
#divContainerDatePickerERP
{
/*	border: 1px solid black; */
	width: 200px;
	min-width: 200px;	
}
#divContainerTextLRERP
{
/*	border: 1px solid yellow; */
	float: left;
	width: 200px;
	min-width: 200px;
}
#divContainerButtonSendERP
{
/*	border: 1px solid green; */
	float: left;
	width: 200px;
	min-width: 200px;
}
	